<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/styles")
    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/jqueryui")
</head>
<body ng-app="CometCabs">
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("ViewScripts", false)
</body>
</html>