@model CometCabsAdmin.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (@Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.ValidationSummary()
    <p>@Html.LabelFor(model => model.Username)</p>
    <p>@Html.TextBoxFor(model => model.Username)</p>
    <p>@Html.LabelFor(model => model.Password)</p>
    <p>@Html.PasswordFor(model => model.Password)</p>
    <p>@Html.CheckBoxFor(model => model.RememberMe)<span>@Html.DisplayNameFor(model => model.RememberMe)</span></p>
    <button type="submit">Login</button>
}