@model CometCabsAdmin.Web.Models.MapViewModel

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"></div>
    <div class="panel-body">
        @{
            List<SelectListItem>
            items = new List<SelectListItem>();

            items.Add(new SelectListItem { Text = "Gray", Value = "Gray" });
            items.Add(new SelectListItem { Text = "Red", Value = "Red" });
            items.Add(new SelectListItem { Text = "Green", Value = "Green" });

            using (Html.BeginForm("SaveRoute", "Map", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.RouteName, new { @class = "col-lg-12 control-label" })
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.RouteName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.RouteDesc, new { @class = "col-lg-12 control-label" })
                    </div>
                    <div class="col-sm-6">
                        @Html.TextAreaFor(model => model.RouteDesc, new { @class = "form-control", rows = "3" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.RouteColor, new { @class = "col-lg-12 control-label" })
                    </div>
                    <div class="col-sm-7">
                        @*Html.DropDownListFor(model => model.RouteColor, items, "-- select a color --", new { @class = "form-control", style="width: 40%;" })*@
                        @{
                string routeColor = string.IsNullOrWhiteSpace(Model.RouteColor) ? string.Empty : Model.RouteColor;
                        }
                        <select class="form-control" style="width: 40%;">
                            <option value="" @(string.IsNullOrWhiteSpace(routeColor) ? "selected" : string.Empty)>-- select a color --</option>
                            <option value="red" @(routeColor.Equals("red") ? "selected" : string.Empty) style="color: red;font-weight:bold;">Red</option>
                            <option value="orange" @(routeColor.Equals("orange") ? "selected" : string.Empty) style="color: orange;font-weight:bold;">Orange</option>
                            <option value="red" @(routeColor.Equals("yellow") ? "selected" : string.Empty) style="color: yellow;font-weight:bold;">Yellow</option>
                            <option value="orange" @(routeColor.Equals("green") ? "selected" : string.Empty) style="color: green;font-weight:bold;">Green</option>
                            <option value="orange" @(routeColor.Equals("blue") ? "selected" : string.Empty) style="color: blue;font-weight:bold;">Blue</option>
                            <option value="red" @(routeColor.Equals("purple") ? "selected" : string.Empty) style="color: purple;font-weight:bold;">Purple</option>
                            <option value="orange" @(routeColor.Equals("teal") ? "selected" : string.Empty) style="color: teal;font-weight:bold;">Teal</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.IsActive)@Html.DisplayNameFor(model => model.IsActive)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-2">
                        <button id="save-route" type="button" class="btn btn-default" ng-click="saveRoute()">Submit</button>
                    </div>
                    <div class="col-sm-2">
                        <button id="cancel-changes" type="button" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            }
        }
    </div>
</div>